<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="https://www.flux.cat">
    <meta name="description" content="{{ front_main_title | capitalize }} · Asesoría y Consultoría Psicológica">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="{{ asset('build/favicon.png') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('build/favicon.png') }}" />
    <title>{{ front_main_title | capitalize }}{% block title %} · Asesoría y Consultoría Psicológica{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body class="my-body" data-spy="scroll" data-target="#navbarSupportedContent" data-offset="110">
<nav id="sections-menu" class="navbar fixed-top navbar-expand-lg navbar-light bg-white with-border-bottom">
    <a href="{{ path('app_front_homepage') }}" class="navbar-brand">
        <img height="70" src="{{ asset('build/logo.jpg') }}" alt="{{ front_main_title | capitalize }} logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% block menu %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">{{ front_main_title | capitalize }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#metodology">Metodología</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#career">Trayectoria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pr-0" href="#contact">Contacto</a>
                </li>
            </ul>
        {% endblock %}
    </div>
</nav>
{% if app.session.flashbag.peekAll | length > 0 %}
    <div class="container">
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="row">
                    <div class="col">
                        <div class="alert alert-{{ type }} alert-dismissible fade show mt-4 mb-4" role="alert">
                            <i class="fas fa-envelope-open"></i> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
{% block body %}{% endblock %}
<footer class="footer bg-secondary pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <strong>Marta Iglesias Ojeda</strong><br>
                <i class="fas fa-phone-square"></i> <a class="text-reset" href="tel:+34655768647">655 768 647</a><br>
                <i class="fas fa-envelope-square"></i> <a class="text-reset" href="mailto:{{ mailer_destination }}">{{ mailer_destination }}</a>
            </div>
            <div class="col-sm-10 text-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="{{ path('app_front_privacy_policy') }}">política de privacidad</a>
                    </li>
{#                    <li class="list-inline-item">·</li>#}
{#                    <li class="list-inline-item">#}
{#                        <a href="{{ path('app_front_terms_and_conditions') }}">condiciones legales</a>#}
{#                    </li>#}
                </ul>
                &copy; {{ 'now' | date('Y') }}
            </div>
        </div>
    </div>
</footer>
{{ encore_entry_script_tags('app') }}
</body>
</html>
