{% extends "webpage/base.html.twig" %}

{% block body %}
    <div class="jumbotron jumbotron-fluid bg-white mb-0" style="background-image: url('{{ asset('build/home.jpg') | imagine_filter('2400xY') }}');background-size:cover;">
        <div class="container p-5">
            <h1 class="text-white">{{ front_main_title | capitalize }}</h1>
            <h2 class="text-white mb-0">asesoría y consultoría psicológica</h2>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <p class="lead mb-0">Posibilízate es un servicio de atención psicológica donde podrás expresar, ordenar y comprender aquello que te sucede y transformarlo en aprendizajes que te permitan alcanzar un mayor grado de bienestar. Desarrollarás herramientas y estrategias que te permitan detectar y  gestionar las situaciones de dificultad o conflicto así como descubrir las capacidades que hay en ti para ponerlas en valor.</p>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-c-green-light text-black mb-0">
        <div class="container">
            <blockquote class="blockquote text-center">
                <p>Te ayudo a que potencies tus capacidades y habilidades</p>
            </blockquote>
            <p class="lead mb-0"><strong>Para lograr un mayor grado de</strong>: autonconocimiento, inteligencia y autonomía emocional, confianza en ti mism@, autoestima, creatividad, resiliencia, motivación, y <u>bienestar</u></p>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <p class="lead">Pongo a tu disposición un conjunto de instrumentos y metodologías basadas en las siguientes corrientes: psicología sistémica y humanista, terapia transpersonal, logoterapia, existencialismo, coaching, inteligencia emocional y PNL. Además de herramientas específicas para la gestión de <strong>conflictos</strong>, procesos de duelo y crisis vitales.</p>
            <blockquote class="blockquote text-center">
                <p>Te propongo dar hoy el primer paso.</p>
            </blockquote>
            <img src="{{ asset('build/step.jpg') | imagine_filter('600xY') }}" class="img-fluid mx-auto d-block" alt="{{ front_main_title | capitalize }} foto principal">
        </div>
    </div>
    {#    <div class="jumbotron jumbotron-fluid bg-brand-secondary text-brand-primary mb-0">#}
{#        <div class="container">#}
{#            <h2 class="display-4">Enjoy shooting again</h2>#}
{#            <hr class="my-4">#}
{#            <p class="lead">Think before shot, enjoy your environment and your mates. Take your time because you'll never see the picture in your display after shot. Cool?</p>#}
{#        </div>#}
{#    </div>#}
{#    <div class="jumbotron jumbotron-fluid bg-primary text-white mb-0">#}
{#        <div class="container">#}
{#            <h2 class="display-4">Simply secure</h2>#}
{#            <hr class="my-4">#}
{#            <p class="lead">We believe in privacy so your images will be end-to-end encrypted and destroyed after print. Promise!</p>#}
{#        </div>#}
{#    </div>#}
    <div class="jumbotron jumbotron-fluid bg-white mb-0" style="background-image: url('{{ asset('build/metodology.jpg') | imagine_filter('2400xY') }}');background-size:cover;">
        <div id="metodology" class="container p-5">
            <h1 class="text-white mb-0">Metodologia</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card border-success">
                        <img src="{{ asset('build/expression.jpg') | imagine_filter('600xY') }}" class="card-img-top" alt="Yarn alt">
                        <div class="card-body">
                            <h5 class="card-title">Expresión y conciencia</h5>
                            <p class="card-text mb-0">La expresión de los pensamientos, sentimientos y emociones es el primer paso para tomar conciencia y poder poner nombre a aquello que te está pasando.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-success">
                        <img src="{{ asset('build/yarn.jpg') | imagine_filter('600xY') }}" class="card-img-top" alt="Yarn alt">
                        <div class="card-body">
                            <h5 class="card-title">Comprensión y orden</h5>
                            <p class="card-text mb-0">Una vez identificados los elementos clave, el foco se traslada en comprender de manera integral y profunda aquello que genera sufrimiento, así como aprender a ordenar  los pensamientos y sentimientos. Ello, además de aliviar la situación presente, permite en muchas ocasiones trabajar en clave de prevención futura.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-success">
                        <img src="{{ asset('build/bulb.jpg') | imagine_filter('600xY') }}" class="card-img-top" alt="Yarn alt">
                        <div class="card-body">
                            <h5 class="card-title">Plan de acción</h5>
                            <p class="card-text mb-0"><strong>Si tenemos un "por qué", siempre encontraremos un "cómo".</strong> Todo proceso terapéutico supone una metamorfosis personal. Por ello, es probable que habiendo establecido claridad, puedan aparecer nuevos horizontes hacia los que dirigir tus pasos.  Te acompaño a dibujar una ruta y te animo a que consigas aquello que te hayas propuesto. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <h3 id="contact-form">Contact us</h3>
                <h5 class="text-muted">Wow! This sounds really interesting, I'm interested in try this amazing service.</h5>
                <p>
                    So take my data, be careful, don't share it with anybody and please, tell me something as soon as possible.
                </p>
            </div>
            <div class="col-md-6 col-lg-4">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
