{% extends "webpage/base.html.twig" %}

{% block title %} · {{ post.name }} · No sé que hacer con mi vida · Blog{% endblock %}

{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_front_homepage') }}">{{ front_web_title | capitalize }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary ml-2" href="{{ path('app_front_blog_landing') }}">Blog</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div id="home" class="jumbotron jumbotron-fluid bg-white mb-0" style="background-image: url('{{ asset('build/lighthouse.png') | imagine_filter('2400xY') }}');background-size:cover;">
        <div class="container py-5">
            <h1 class="text-white">No sé que hacer con mi vida</h1>
            <h2 class="text-secondary mb-0">Blog</h2>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        {{ post.name }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
