{% extends "webpage/base.html.twig" %}

{% block title %} · {{ post.name }} · No sé que hacer con mi vida · Blog{% endblock %}

{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_front_homepage') }}">{{ front_web_title | capitalize }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary ml-2" href="{{ path('app_front_blog_landing') }}">Blog</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div id="home" class="jumbotron jumbotron-fluid bg-white mb-0" style="background-image: url('{{ asset('build/lighthouse.png') | imagine_filter('2400xY') }}');background-size:cover;">
        <div class="container py-5">
            <h1 class="text-white">No sé que hacer con mi vida</h1>
            <h2 class="text-secondary mb-0">Blog</h2>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col col-md-6 col-lg-5 col-xl-4">
                    <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('800x600') }}" class="img-fluid" alt="{{ post.name }} foto">
                </div>
                <div class="col col-md-6 col-lg-7 col-xl-8">
                    <h2 class="mb-0">{{ post.name }}</h2>
                    <h5 class="mb-3"><small class="text-muted"><i class="fas fa-calendar-alt"></i> {{ post.published | date('d/m/Y') }}</small></h5>
                    {{ post.description | raw }}
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{{ path('app_front_blog_landing') }}"><i class="fas fa-undo-alt"></i> Volver al blog</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
