{% extends "@email/zurb_2/notification/body.html.twig" %}

{% block lead %}
    <small><strong>NOTIFICACIÓN {{ front_main_title | upper }}</strong></small>
    <p class="lead">Consulta formulario web recibida!</p>
{% endblock %}

{% block content %}
    <spacer size="16"></spacer>
    <p>
        Has rebicido una nueva consulta, ahora la persona <strong>{{ web_contact_message.name }}</strong> con dirección de correo electrónico <strong>{{ web_contact_message.email }}</strong> está esperando tu respuesta a la siguiente consulta:
    </p>
    <callout class="warning">
        <p>
            <strong>{{ web_contact_message.message }}</strong><br>
        </p>
    </callout>
    <spacer size="16"></spacer>
    <button href="mailto:{{ web_contact_message.email }}?subject=Respuesta consulta formulario web {{ front_main_title | capitalize }}" class="rounded">Responder</button>
{% endblock %}

{% block action %}{% endblock %}

{% block exception %}{% endblock %}

{% block footer_content %}
    <p><small>Enviado por {{ front_main_title | capitalize }}</small></p>
{% endblock %}
